* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;

}

body {
    width: 100%;
    background-image: url("../IMG/fondo2.jpg");
    background-size: cover;
}

.cuadro {
    display: block;
    margin: 50px;
    background-color: darkorange;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    top: 400px;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    margin-top: 180px;
}
    
.cuadro h1 {
    font-size: 30px;
    padding: 20px;
}